In [6]:
import pandas as pd
import numpy as np
import csv

df = pd.read_csv("C:/Users/mariu/Downloads/ObesityDataSet_raw_and_data_sinthetic (1).csv")
type(df)


df.info()

#Puuttuu product ja sum

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Age                             2111 non-null   float64
 1   Gender                          2111 non-null   object
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   CALC                            2111 non-null   object
 5   FAVC                            2111 non-null   object
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   SCC                             2111 non-null   object
 9   SMOKE                           2111 non-null   object
 10  CH2O                            2111 non-null   float64
 11  family_history_with_overweight  2111 non-null   object
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CAEC                            2111 non-null   object
 15  MTRANS                          2111 non-null   object
 16  NObeyesdad                      2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [ ]:

df.head(10)

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
0,21.0,Female,1.62,64.0,no,no,2.0,3.0,no,no,2.0,yes,0.0,1.0,Sometimes,Public_Transportation,Normal_Weight
1,21.0,Female,1.52,56.0,Sometimes,no,3.0,3.0,yes,yes,3.0,yes,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
2,23.0,Male,1.80,77.0,Frequently,no,2.0,3.0,no,no,2.0,yes,2.0,1.0,Sometimes,Public_Transportation,Normal_Weight
3,27.0,Male,1.80,87.0,Frequently,no,3.0,3.0,no,no,2.0,no,2.0,0.0,Sometimes,Walking,Overweight_Level_I
4,22.0,Male,1.78,89.8,Sometimes,no,2.0,1.0,no,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,29.0,Male,1.62,53.0,Sometimes,yes,2.0,3.0,no,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,23.0,Female,1.50,55.0,Sometimes,yes,3.0,3.0,no,no,2.0,yes,1.0,0.0,Sometimes,Motorbike,Normal_Weight
7,22.0,Male,1.64,53.0,Sometimes,no,2.0,3.0,no,no,2.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
8,24.0,Male,1.78,64.0,Frequently,yes,3.0,3.0,no,no,2.0,yes,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight
9,22.0,Male,1.72,68.0,no,yes,2.0,3.0,no,no,2.0,yes,1.0,1.0,Sometimes,Public_Transportation,Normal_Weight

In [ ]:

df.columns

Index(['Age', 'Gender', 'Height', 'Weight', 'CALC', 'FAVC', 'FCVC', 'NCP',
       'SCC', 'SMOKE', 'CH2O', 'family_history_with_overweight', 'FAF', 'TUE',
       'CAEC', 'MTRANS', 'NObeyesdad'],
      dtype='object')

In [ ]:


df.shape

(2111, 17)

In [ ]:


df.index

RangeIndex(start=0, stop=2111, step=1)

In [ ]:


df.values

array([[21.0, 'Female', 1.62, ..., 'Sometimes', 'Public_Transportation',
        'Normal_Weight'],
       [21.0, 'Female', 1.52, ..., 'Sometimes', 'Public_Transportation',
        'Normal_Weight'],
       [23.0, 'Male', 1.8, ..., 'Sometimes', 'Public_Transportation',
        'Normal_Weight'],
       ...,
       [22.524036, 'Female', 1.752206, ..., 'Sometimes',
        'Public_Transportation', 'Obesity_Type_III'],
       [24.361936, 'Female', 1.73945, ..., 'Sometimes',
        'Public_Transportation', 'Obesity_Type_III'],
       [23.664709, 'Female', 1.738836, ..., 'Sometimes',
        'Public_Transportation', 'Obesity_Type_III']], dtype=object)

In [ ]:

column_data_types = df.dtypes
print(column_data_types)

Age                               float64
Gender                             object
Height                            float64
Weight                            float64
CALC                               object
FAVC                               object
FCVC                              float64
NCP                               float64
SCC                                object
SMOKE                              object
CH2O                              float64
family_history_with_overweight     object
FAF                               float64
TUE                               float64
CAEC                               object
MTRANS                             object
NObeyesdad                         object
dtype: object

In [ ]:

column_data_type = df['Height'].dtype
print(column_data_type)

float64

In [ ]:


df.sort_values("Age")

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
415,14.000000,Male,1.710000,72.000000,no,yes,3.0,3.0,no,no,3.0,yes,2.0,1.0,Sometimes,Walking,Normal_Weight
116,15.000000,Female,1.650000,86.000000,no,yes,3.0,3.0,no,no,1.0,yes,3.0,2.0,Sometimes,Walking,Obesity_Type_I
309,16.000000,Female,1.660000,58.000000,no,no,2.0,1.0,no,no,1.0,no,0.0,1.0,Sometimes,Walking,Normal_Weight
295,16.000000,Female,1.660000,58.000000,no,no,2.0,1.0,no,no,1.0,no,0.0,1.0,Sometimes,Walking,Normal_Weight
303,16.000000,Female,1.570000,49.000000,Sometimes,yes,2.0,4.0,no,no,2.0,no,0.0,1.0,Always,Public_Transportation,Normal_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1158,55.022494,Male,1.673394,80.400306,no,yes,2.0,3.0,no,no,2.0,yes,1.0,0.0,Sometimes,Automobile,Overweight_Level_II
1088,55.137881,Male,1.657221,80.993213,no,yes,2.0,3.0,no,no,2.0,yes,1.0,0.0,Sometimes,Automobile,Overweight_Level_II
1013,55.246250,Male,1.769269,80.491339,no,yes,2.0,3.0,no,no,2.0,no,1.0,0.0,Sometimes,Automobile,Overweight_Level_II
252,56.000000,Male,1.790000,90.000000,Frequently,no,2.0,3.0,no,yes,2.0,yes,1.0,0.0,Sometimes,Automobile,Overweight_Level_II
133,61.000000,Female,1.650000,66.000000,Frequently,yes,3.0,3.0,no,no,2.0,no,1.0,1.0,Always,Public_Transportation,Normal_Weight

In [21]:
df.sort_values("Age", ascending=False)

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
133,61.000000,Female,1.650000,66.000000,Frequently,yes,3.0,3.0,no,no,2.0,no,1.0,1.0,Always,Public_Transportation,Normal_Weight
252,56.000000,Male,1.790000,90.000000,Frequently,no,2.0,3.0,no,yes,2.0,yes,1.0,0.0,Sometimes,Automobile,Overweight_Level_II
1013,55.246250,Male,1.769269,80.491339,no,yes,2.0,3.0,no,no,2.0,no,1.0,0.0,Sometimes,Automobile,Overweight_Level_II
1088,55.137881,Male,1.657221,80.993213,no,yes,2.0,3.0,no,no,2.0,yes,1.0,0.0,Sometimes,Automobile,Overweight_Level_II
1158,55.022494,Male,1.673394,80.400306,no,yes,2.0,3.0,no,no,2.0,yes,1.0,0.0,Sometimes,Automobile,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,16.000000,Female,1.600000,57.000000,no,yes,3.0,3.0,no,no,1.0,no,3.0,0.0,Sometimes,Public_Transportation,Normal_Weight
295,16.000000,Female,1.660000,58.000000,no,no,2.0,1.0,no,no,1.0,no,0.0,1.0,Sometimes,Walking,Normal_Weight
290,16.000000,Male,1.820000,71.000000,Sometimes,yes,2.0,3.0,no,no,2.0,yes,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
116,15.000000,Female,1.650000,86.000000,no,yes,3.0,3.0,no,no,1.0,yes,3.0,2.0,Sometimes,Walking,Obesity_Type_I
415,14.000000,Male,1.710000,72.000000,no,yes,3.0,3.0,no,no,3.0,yes,2.0,1.0,Sometimes,Walking,Normal_Weight

In [26]:
df.sort_values(["Age", "Height"])
df.sort_values(["Weight", "TUE"], ascending=[True, False])

,Age,Gender,Height,Weight,CALC,FAVC,FCVC,NCP,SCC,SMOKE,CH2O,family_history_with_overweight,FAF,TUE,CAEC,MTRANS,NObeyesdad
395,20.000000,Female,1.540000,39.000000,Sometimes,yes,1.000000,3.000000,no,no,2.000000,yes,3.000000,2.000000,Sometimes,Public_Transportation,Insufficient_Weight
725,19.994543,Female,1.537739,39.101805,Sometimes,yes,1.118436,3.000000,no,no,1.997744,no,2.432443,1.626194,Sometimes,Public_Transportation,Insufficient_Weight
589,19.948140,Female,1.530884,39.371523,Sometimes,yes,1.522001,3.000000,no,no,1.981260,no,2.306844,0.720454,Sometimes,Public_Transportation,Insufficient_Weight
636,19.054008,Female,1.556611,39.695295,Sometimes,yes,1.889199,2.217651,no,no,2.013605,no,2.075293,1.683261,Sometimes,Public_Transportation,Insufficient_Weight
588,18.530840,Female,1.573816,39.850137,Sometimes,yes,1.214980,1.717608,no,no,1.179942,no,0.684739,2.000000,Sometimes,Public_Transportation,Insufficient_Weight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1838,20.989016,Female,1.807340,155.872093,Sometimes,yes,3.000000,3.000000,no,no,2.417122,yes,0.952725,0.573958,Sometimes,Public_Transportation,Obesity_Type_III
1910,21.521294,Female,1.803677,160.639405,Sometimes,yes,3.000000,3.000000,no,no,2.404049,yes,0.427905,0.639894,Sometimes,Public_Transportation,Obesity_Type_III
1898,19.472190,Female,1.793824,160.935351,Sometimes,yes,3.000000,3.000000,no,no,2.069257,yes,1.986646,0.947091,Sometimes,Public_Transportation,Obesity_Type_III
502,21.900120,Female,1.843419,165.057269,Sometimes,yes,3.000000,3.000000,no,no,2.406541,yes,0.100320,0.479221,Sometimes,Public_Transportation,Obesity_Type_III
344,18.000000,Male,1.870000,173.000000,Sometimes,yes,3.000000,3.000000,no,no,2.000000,yes,2.000000,1.000000,Frequently,Public_Transportation,Obesity_Type_III

In [28]:
subset_df = df["Age"]
print(subset_df)

subset_df1 = df[["Height", "Weight"]]
print(subset_df1)

0       21.000000
1       21.000000
2       23.000000
3       27.000000
4       22.000000
          ...
2106    20.976842
2107    21.982942
2108    22.524036
2109    24.361936
2110    23.664709
Name: Age, Length: 2111, dtype: float64
        Height      Weight
0     1.620000   64.000000
1     1.520000   56.000000
2     1.800000   77.000000
3     1.800000   87.000000
4     1.780000   89.800000
...        ...         ...
2106  1.710730  131.408528
2107  1.748584  133.742943
2108  1.752206  133.689352
2109  1.739450  133.346641
2110  1.738836  133.472641

[2111 rows x 2 columns]

In [30]:
subset_df = df[df['Age'] > 30]
print(subset_df)

subset_df = df[df['Age'] == "50"]
print(subset_df)


subset_df1 = df['Age'] > 30
subset_df2 = df['Age'] == "50"
subset_df3 = df[subset_df1 & subset_df2]
subset_df3.head()

            Age  Gender    Height      Weight        CALC FAVC      FCVC  \
13    41.000000    Male  1.800000   99.000000  Frequently  yes  2.000000
21    52.000000  Female  1.690000   87.000000          no  yes  3.000000
31    31.000000  Female  1.580000   68.000000   Sometimes   no  2.000000
33    39.000000    Male  1.790000   90.000000   Sometimes   no  2.000000
92    55.000000    Male  1.780000   84.000000  Frequently   no  3.000000
...         ...     ...       ...         ...         ...  ...       ...
1778  38.112989    Male  1.766888  118.134898   Sometimes  yes  2.240757
1781  33.722449    Male  1.712905  103.276087          no  yes  2.525884
1782  32.516469    Male  1.695735  102.784864          no  yes  2.736647
1793  30.715160    Male  1.650189  101.141277          no  yes  2.913452
1794  30.642430    Male  1.653876  102.583895          no  yes  2.919526

           NCP  SCC SMOKE      CH2O family_history_with_overweight       FAF  \
13    3.000000   no    no  2.000000                             no  2.000000
21    1.000000   no   yes  2.000000                            yes  0.000000
31    1.000000   no    no  1.000000                            yes  1.000000
33    1.000000   no    no  2.000000                             no  0.000000
92    4.000000  yes    no  3.000000                            yes  3.000000
...        ...  ...   ...       ...                            ...       ...
1778  2.911568   no    no  1.895876                            yes  0.822186
1781  2.040582   no    no  1.000000                            yes  1.670360
1782  2.015675   no    no  1.000000                            yes  1.977918
1793  2.269799   no    no  1.000000                            yes  1.889937
1794  2.142328   no    no  1.175714                            yes  0.958555

           TUE        CAEC                 MTRANS           NObeyesdad
13    1.000000   Sometimes             Automobile       Obesity_Type_I
21    0.000000   Sometimes             Automobile       Obesity_Type_I
31    0.000000   Sometimes  Public_Transportation  Overweight_Level_II
33    0.000000   Sometimes  Public_Transportation  Overweight_Level_II
92    0.000000  Frequently                Walking   Overweight_Level_I
...        ...         ...                    ...                  ...
1778  0.000000   Sometimes             Automobile      Obesity_Type_II
1781  0.023959   Sometimes  Public_Transportation      Obesity_Type_II
1782  0.056351   Sometimes  Public_Transportation      Obesity_Type_II
1793  0.378818   Sometimes  Public_Transportation      Obesity_Type_II
1794  0.636289   Sometimes  Public_Transportation      Obesity_Type_II

[356 rows x 17 columns]
Empty DataFrame
Columns: [Age, Gender, Height, Weight, CALC, FAVC, FCVC, NCP, SCC, SMOKE, CH2O, family_history_with_overweight, FAF, TUE, CAEC, MTRANS, NObeyesdad]
Index: []

Empty DataFrame
Columns: [Age, Gender, Height, Weight, CALC, FAVC, FCVC, NCP, SCC, SMOKE, CH2O, family_history_with_overweight, FAF, TUE, CAEC, MTRANS, NObeyesdad]
Index: []